<!doctype html>
<html lang="en">

 {% include "partials/header.twig"%}

  <body>
    {% include "partials/navigation.twig"%} 

<!--picture-->
  {% for slider in sliderResult %}      
<div >

 
      <img src="/recipe_image/{{ slider.filename }}" style="width:100%;height:599px;">

        <h5 style ="text-align: center;font-size: 30px;">{{slider.recipe_Name}}</h5>
    
</div>
 {% endfor %} 


 <!--Line-->
<div class="Find-recipe-line" >
  <div class = "recipe-left-line"></div>
  <h3>&nbsp;&nbsp;Find the Recipe&nbsp;&nbsp;</h3>
  <div clss= "recipe-right-line" style="flex: 1;background-color:#6c757d;height: 2px;"></div>
</div>

<!--FILter-->
<div class = "button_group" style="display: flex;justify-content: center;margin-bottom: 10px;margin-bottom: 30px;">
  <div  class="btn btn-light" style="color: black;font-weight: bold;">FILTERBY</div>
  

  <a href="category.php?cid=2&cname=TOP RATED"class="btn btn-light" style="margin-right: 10px;margin-left: 10px;">TOP RATED</a>
  <a href="category.php?cid=1&cname=POPULAR"class="btn btn-light" style="margin-right: 10px;margin-left: 10px;">POPULAR</a>
  <a href="category.php?cid=3&cname=VEGETABLES"class="btn btn-light" style="margin-right: 10px;margin-left: 10px;">VEGETABLES</a>
  <a href="category.php?cid=4&cname=PROTEIN"class="btn btn-light" style="margin-right: 10px;margin-left: 10px;">PROTEIN</a>
  <a href="category.php?cid=5&cname=SEAFOOD"class="btn btn-light" style="margin-right: 10px;margin-left: 10px;">SEAFOOD</a>
  <a href="category.php?cid=6&cname=OTHERS"class="btn btn-light" style="margin-right: 10px;margin-left: 10px;">OTHERS</a>
    
  
  
  
</div>

<!--Recipe-->
    <div class = "container">
        
        <div class = "row">
            {% for recipe in recipe.items %}
                <div class = "col-md-4">
                    <div class="card_body" >
                            <img src="recipe_image/{{recipe.picture }}" class="card-img-top recipe_image" alt="recipe cover for {{recipe.recipe_Name}}";>
                            <div class="card-body">
                                <h5 class="card-title">{{recipe.recipe_Name}}</h5>
                                <P class="card-title">{{recipe.star_rated}}</p>
                                <P class="card-title">By {{recipe.user}}</p> 
                                <a href="detail.php?id={{recipe.recipe_ID}}" class="btn btn-primary">View Detail</a>
                                
                          </div>
                        </div>
                      </div>
                  {% endfor %}
              </div>
          </div>
<!-- AUTHOR  -->

 <section class="ht-section hs-editors grid">
          
            <div class = "author_line">
              <div class = "author-left-line"></div>
              <h3>&nbsp;&nbsp;POPULAR AUTHOR&nbsp;&nbsp;</h3>
              <div clas ="author-right-line"style="flex: 1;background-color:#6c757d;height: 2px;"></div>
            </div>
            
             <div class="hs-content">
                <div class="container">
                    <div class="row">           
                    
                    {% for user in userResult %}
                        <div class="entry col-xs-12 col-sm-3">
                            <div class="entry-media">
                                <div class="thumb"><img src="/uerImage/{{user.picture}}" alt="" style="width:200px;height:200px;border-radius: 50%;"></div>
                            </div>
                            <h3 class="entry-name">{{user.name}}</h3>
                            <div style = "font-family: fantasy;">
                            <p class="entry-position">{{user.user_detail | slice(0,500)}}</p>
                            </div>
                            <div class="entry-social">
                            
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </section> 

       

    {% include "partials/footer.twig" %}
   {% include "partials/script.twig" %}
  </body>
</html>