<!doctype html>
<html lang="en">
  {% include "partials/header.twig" %}

<body>
  {% include 'partials/navigation.twig' %}
  <div class="main-container">
    <section class="vh-100" style="background-color: white">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong">
              <div class="close">
                <a href="../index.php">
                <image class="item-close" src="../templates/images/close.svg"></a>
              </div>
              <div class="card-body p-5 text-center">
                <h1 class="mb-5">SIGN UP</h1>

                <div class="form-outline mb-4">
                <form id="register-form" method="post" action="register.php" >
                  <label class="form-label" for="typeEmailX-2">User name</label>
                  <input type="text" id="name" class="form-control form-control-lg {{nameInvalid}}" name="name" placeholder="Lora" required value="{{name}}">
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="typeEmailX-2">Email</label>
                  <input type="email" id="email" class="form-control form-control-lg {{emailInvalid}}" name="email" placeholder="sample@email.com" required value="{{email}}">
                </div>

    
                <div class="form-outline mb-4" id="bottom-checkbox">
                  <label class="form-label" for="typePasswordX-2">Password</label>
                  <input type="password" id="password" class="form-control form-control-lg {{passwordInvalid}}" name="password" placeholder="minimum 8 characters" required value="{{password}}">
                </div>


                <div class="form-outline mb-4" id="bottom-checkbox">
                  <label class="form-label" for="typePasswordX-2">Confirm Password</label>
                  <input type="password" id="confirm_pass" class="form-control form-control-lg" name="confirm_pass"  placeholder="minimum 8 characters" required value="{{confirm_pass}}">
                </div>
    
                
                {% set outcome = result.errors | join(", ") %}
                <!-- submit button -->
                <button class="btn btn-dark btn-lg btn-block signup_btn" type="submit" style="border-radius:30px;  width: -webkit-fill-available;">SUBMIT</button>
                {% if outcome | length > 0 %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {{ outcome }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
                {% endif %}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  {% include "partials/footer.twig" %}
  {% include "partials/script.twig" %}
</body>

</html>
